.header{
    background-color: rgb(147 114 150);
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 10rem;
}

.header .logo-holder{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .logo-holder .logo{
    border-color: rgb(215 219 21);
    border-width: 2px;
    border-radius: 9999px;
    border-style: solid;
    height: 8rem;
}

.header .logo-holder .name-title{
    font-size: x-large;
    text-align: left;
    line-height: 1.75rem;
    padding-top: 3rem;
}

.header .logo-holder .name-title .first-name{
    color: white;
}

.header .logo-holder  .name-title .last-name{
    color: rgb(215 219 21);
    font-weight: bold;
}

.header .logo-holder .name-title .title{
    color: white;
    font-weight: bold;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: rgb(147 114 150);
}

.social-icons {
    display: flex;
    gap: 10px; /* İkonlar arası boşluk */
    margin-top: 10px; /* İkonlar ile yazılar arası boşluk */
}

.social-icons a {
    font-size: 24px; /* İkon boyutu */
    color: rgb(147 114 150); /* İkon rengi */
}

.social-icons a:hover {
    color: rgb(215 219 21); /* Hover durumunda ikon rengi */
}